<h2 class="text-center">Contact Detail</h2>

<div class="container-fluid d-flex flex-column">
   <% if (arr != null) { %>
   <div class="container text-center align-middle">
      <h3><%= arr[0].name %></h3>
      <p class="lead"><%= arr[0].email %></p>
      <p><%= arr[0].phone %></p>
   </div>
  <% } else { %>
   <div class="card container float-center text-center align-middle" style="width: 30rem;">
      <div class="card-body">
          <p>The data you are calling is not found in the database</p>
      </div>
   </div>
   <% } %>
   <div class="container d-flex flex-row justify-content-center align-middle">
      <a href="/contact" class="btn btn-dark mr-md-3 col-1">Go Back</a>
      <a href="/contact/edit/<%= arr[0].name %>" class="mr-md-3 btn btn-warning col-1">Edit</a>
   </div>
</div>


